.space-x-2 > * + * {
    margin-left: 0.25rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.items-start {
    align-items: flex-start;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 0.25rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mt-auto {
    margin-top: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


.alert {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: var(--border);
    border-radius: var(--radius-md);
    padding: 1rem;
    max-width: 400px;
    box-shadow: var(--shadow);
    margin-top: 3rem;
    background-color: var(--card);
    border-left-width: 5px;

    border-left-color: hsl(203, 100%, 25%);

    h2 {
        color: hsl(203, 100%, 25%);
    }

}

.alert-error {
    border-left-color: hsl(0, 100%, 42%);

    h2 {
        color: hsl(0, 100%, 25%);
    }


}