{% extends "layout.html" %}
{% block title %}Home - Doodle App{% endblock %}
{% block content %}
  <h2>Latest Doodles</h2>
  <div class="doodles">
    {% if doodles == [] %}
      <p>No doodles found.</p>
    {% else %}
      {% for doodle in doodles %}
        <div class="small-post">
          <a href="/doodle/{{ doodle.id }}">
            <img src="/image/{{ doodle.image_url }}" alt="Doodle Image">
          </a>
          {% if doodle.reactions %}
            <div class="reactions">
              {% for emoji, count in doodle.reactions.items() %}
                <div>{{ emoji }}x{{ count }}</div>
              {% endfor %}
            </div>
          {% endif %}
          <a href="/doodle/{{ doodle.id }}"><h3>{{ doodle.title }}</h3></a>
          <p>{{ doodle.description }}</p>
          <div class="tags">
            {% for tag in doodle.tags.split(',') %}
              <a href="{{ url_for('search.page', q='#'+tag) }}" class="tag-badge">#{{ tag }}</a>
            {% endfor %}
          </div>
          <p><strong>Likes:</strong> {{ doodle.likes }}</p>
          <p><strong>Views:</strong> {{ doodle.views }}</p>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
