<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/svg+xml">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='utils.css') }}">
  <title>{% block title %}Doodle App{% endblock %}</title>
</head>
<body class="mx-auto">
<header>
  <h1>Doodle App</h1>
  <nav class="space-x-2">
    <a href={{ url_for('home.page') }}>Home</a>
    {% if session.get('user_id') %}
      <a href="{{ url_for('submit.page') }}">Submit Doodle</a>
      <a href="{{ url_for('profile.page') }}">Profile</a>
      <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
      <a href="{{ url_for('login.page') }}">Login</a>
      <a href="{{ url_for('register.page') }}">Register</a>
    {% endif %}
    <a href="{{ url_for('search.page') }}">Search</a>
  </nav>
</header>
<main>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes mx-auto">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</main>
<footer>
  <p>&copy; 2025 Doodle App</p>
</footer>
</body>
</html>
