{% extends "layout.html" %}
{% block title %}Register - Doodle App{% endblock %}
{% block content %}
  <form action="/register" method="POST" class="form mx-auto">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <h2>Register</h2>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required minlength="6" maxlength="16">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required min="12" maxlength="128">
    <button type="submit">Register</button>
  </form>
{% endblock %}
