{% extends "layout.html" %}
{% block title %}Search Doodles - Doodle App{% endblock %}
{% block content %}
  <div class="container">
    <h2>Search Doodles</h2>

    <form action="{{ url_for('search.page') }}" method="GET">
      <label for="query">Search:</label>
      <input type="text" id="query" name="q" placeholder="Search by title or description..." value="{{ query }}"
             required>
      <button type="submit">Search</button>
    </form>
    {% if query %}
      <h3>Results for "{{ query }}"</h3>
      {% if doodles %}
        <div class="doodles-grid-container">
          {% if doodles == [] %}
            <p>No doodles found.</p>
          {% else %}
            {% for doodle in doodles %}
              <div class="small-post">
                <a href="/doodle/{{ doodle.id }}" class="post-image">
                  <img src="/image/{{ doodle.image_url }}" alt="Doodle Image">
                </a>
                {% if doodle.reactions %}
                  <div class="reactions">
                    {% for emoji, count in doodle.reactions.items() %}
                      <div class="reaction-badge">{{ emoji }}x{{ count }}</div>
                    {% endfor %}
                  </div>
                {% endif %}
                <a href="/doodle/{{ doodle.id }}"><h3>{{ doodle.title }}</h3></a>
                <p>{{ doodle.description }}</p>
                <div class="tags">
                  {% for tag in doodle.tags.split(',') %}
                    <a href="{{ url_for('search.page', q='#'+tag) }}" class="tag-badge">#{{ tag }}</a>
                  {% endfor %}
                </div>
                <div class="flex mt-auto gap-2">
                  <div class="flex items-center gap-1">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    >
                      <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"></path>
                      <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                    {{ doodle.views }}
                  </div>
                  <div class="flex items-center gap-1">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    >
                      <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"></path>
                    </svg>
                    {{ doodle.comments }}
                  </div>
                  <div class="flex items-center gap-1 ml-auto">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    >
                      <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>
                    </svg>
                    {{ doodle.likes }}
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      {% else %}
        <p>No doodles found for "{{ query }}".</p>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
